* {
  font-family: "Comic Neue", cursive;
  font-size: large;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
main {
  margin: 0px 100px;
}
.navegation{
  background: rgb(100, 170, 129);
  
  display: flex;
 justify-content: flex-end;
  gap: 1rem;

}
nav a {
  text-decoration: none;
  color: white;
  background: rgb(74, 118, 199);
  padding: 0px 10px;
  font-size: 30px;
  border: 2px solid black;
  filter: grayscale(40%);
}
nav .active {
  background: rgb(41, 190, 41);
}
h1 {
  font-size: 3rem;
  ;
}
section{
  text-align: center;
}

figure img{
  width: 100%;
}
.container{
  display: flex;
  gap: 1rem;
  text-align: left;
  
}
#subtitle{
  font-size: 2rem;
  outline: 1px solid black;
}


.container img{
  width: 10rem;
  height: 10rem;
}

.info p,h3{
  font-size: 2rem;
}