* {
  font-family: "Comic Neue", cursive;
  font-size: large;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  margin: 50px 100px;
}
.navegation{
  display: flex;
  gap: 1rem;

}
.navegation a{
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  background: rgb(161, 161, 228);
}
h1 {
  font-size: 3rem;
  ;
}
section{
  text-align: center;
}

figure img{
  width: 100%;
}
.container{
  display: flex;
  gap: 1rem;
  text-align: left;
  
}
#subtitle{
  font-size: 2rem;
  outline: 1px solid black;
}


.container img{
  width: 10rem;
  height: 10rem;
}

.info p,h3{
  font-size: 2rem;
}